.expense-container{
    height: 40vh;
    width: 30vw;
    border: 8px solid #4e4e4e;
}
.expense-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #2d2d2d;
}
.expense-container input[type=text]{
    margin-top: 15px;
    height: 40px;
    width: 60%;
    color: #4e4e4e;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background: #ebebeb;
    border-radius: 10px;
    outline: none;
}
.expense-container input[type=number]{
    margin-top: 15px;
    height: 35px;
    width: 60%;
    color: #4e4e4e;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background: #ebebeb;
    border-radius: 10px;
    outline: none;
}
.expense-container input[type=submit]{
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 15px;
    background: #ebebeb;
    font-size: 1.25rem;
    color: #4e4e4e;
    transition: all 0.5s ease;
}
.expense-container input[type=submit]:hover{
    transform: scale(1.05);
}